---
import { Image } from "astro:assets";
import qrCode from "../assets/qr_code.png";

const { links } = Astro.props;
---

{links && (
  <div class="print-social-links">
    <ul>
      {links.resume_github_url && (
        <li><strong>Github</strong>: {links.resume_github_url}</li>
      )}
      {links.resume_twitter_url && (
        <li><strong>Twitter</strong>: {links.resume_twitter_url}</li>
      )}
      {links.resume_dribbble_url && (
        <li><strong>Dribbble</strong>: {links.resume_dribbble_url}</li>
      )}
      {links.resume_facebook_url && (
        <li><strong>Facebook</strong>: {links.resume_facebook_url}</li>
      )}
      {links.resume_linkedin_url && (
        <li><strong>LinkedIn</strong>: {links.resume_linkedin_url}</li>
      )}
      {links.resume_instagram_url && (
        <li><strong>Instagram</strong>: {links.resume_instagram_url}</li>
      )}
      {links.resume_website_url && (
        <li><strong>Website</strong>: {links.resume_website_url}</li>
      )}
    </ul>
    <div class="print-social-qr">
      <Image src={qrCode} alt="QR code" />
    </div>
  </div>
)
}
